<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--配置别名-->
    <typeAliases>
        <package name="com.wb.domain"></package>
    </typeAliases>

    <!--配置环境-->
<environments default="mysql">
    <environment id="mysql">
        <transactionManager type="JDBC"></transactionManager>
        <dataSource type="POOLED">
            <property name="driver" value="com.mysql.jdbc.Driver"></property>
            <property name="url" value="jdbc:mysql://localhost:3306/users"></property>
            <property name="username" value="root"></property>
            <property name="password" value="996649855"></property>
        </dataSource>
    </environment>
</environments>
    <!--指定带有注解的dao接口所在位置-->
    <mappers>
       <package name="com.wb.dao"></package>
    </mappers>
</configuration>