<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>流水主页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="/static/css/common/left_nav.css" th:href="@{/static/css/common/left_nav.css}">
    <script src="/static/js/jquery-1.12.4.js" th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <script src="/static/js/bootstrap.js" th:src="@{/static/js/bootstrap.js}"></script>
    <script src="/static/js/vue.min.js" th:src="@{/static/js/vue.min.js}"></script>
    <script src="/static/js/bootstrap.bundle.js" th:src="@{/static/js/bootstrap.bundle.js}"></script>
</head>
<body>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 pl-0 pr-0" th:insert="~{common/left_nav :: left_nav}"></div>
        <div class="col-md-11 mt-5">
            <h1>流水主页</h1>
        </div>
    </div>
</div>
</body>
</body>
</html>