<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="/static/js/jquery-1.12.4.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>书刊报价结果</title>
	<style>
		#s_result div h2 span{
			color: red;
		}
		#s_result{
			margin: 0px auto;
		}
		#s_resultMoney{
			color: red;
			font-size: 30px;
		}
		#s_result div h2 span{
			color: red;
		}
	</style>
</head>
<body>
<h1 align="center">画册报价</h1><br><br>
<div class="form-group">
	<table class="table-hover t1" align="center" border="1" cellpadding="0" cellspacing="0" >
		<tr >
			<th>日期</th>
			<th>客户名称</th>
			<th>文件名称</th>
			<th>成品尺寸</th>
			<th>成品数量</th>
			<th>封面克数</th>
			<th>封面纸型</th>
			<th>封面P数</th>
			<th>封面墨色</th>
		</tr>
		<tr >
			<td th:text="${baoJia.s_date}"></td>
			<td th:text="${baoJia.s_cName}"></td>
			<td th:text="${baoJia.s_pName}"></td>
			<td th:text="${baoJia.s_cpSize}"></td>
			<td th:text="${baoJia.s_count}"></td>
			<td th:text="${baoJia.s_fmKs}"></td>
			<td th:text="${baoJia.s_fmType}"></td>
			<td th:text="${baoJia.s_fmPs}"></td>
			<td th:text="${baoJia.s_fmMs}"></td>
		</tr>
		<tr>
			<td colspan="5" rowspan="4"style="border-left: 0px white;"></td>
			<th >内芯克数</th>
			<th>内芯纸型</th>
			<th >内芯P数</th>
			<th>内芯墨色</th>
		</tr>
		<tr>
			<td th:text="${baoJia.s_nxKs}"></td>
			<td th:text="${baoJia.s_nxType}"></td>
			<td th:text="${baoJia.s_nxPs}"></td>
			<td th:text="${baoJia.s_nxMs}"></td>
		</tr>
		<tr>
			<th>插页克数</th>
			<th>插页纸型</th>
			<th>插页P数</th>
			<th>插页墨色</th>
		</tr>

		<tr>
			<td th:text="${baoJia.s_cyKs}"></td>
			<td th:text="${baoJia.s_cyType}"></td>
			<td th:text="${baoJia.s_cyPs}"></td>
			<td th:text="${baoJia.s_cyMs}"></td>
		</tr>
	</table>

	<table class="  table-hover t1" border="1" align="center" style="margin-top: 25px;" cellspacing="1" cellpadding="1" >
		<tr>
			<th>复膜</th>
			<th>装订方式</th>
			<th>配送方式</th>
			<th>特殊工艺</th>
			<td th:text="${baoJia.s_h1}"></td>
			<td th:text="${baoJia.s_h2}"></td>
			<td th:text="${baoJia.s_h3}"></td>
			<td th:text="${baoJia.s_h4}"></td>
			<td th:text="${baoJia.s_h5}"></td>
		</tr>
		<tr>
			<td th:text="${baoJia.s_fumo}"></td>
			<td th:text="${baoJia.s_zd}"></td>
			<td th:text="${baoJia.s_sType}"></td>
			<th>
				金额
			</th>
			<td th:text="${baoJia.s_hv1}"></td>
			<td th:text="${baoJia.s_hv2}"></td>
			<td th:text="${baoJia.s_hv3}"></td>
			<td th:text="${baoJia.s_hv4}"></td>
			<td th:text="${baoJia.s_hv5}"></td>
		</tr>
		<tr>
			<td></td>
			<th>配送金额</th>
			<td th:text="${baoJia.s_pResult}"></td>
			<td colspan="6"></td>
		</tr>
	</table>
	<script>
        $(document).ready(function () {
            var w=	$(".t1").width();
            var h=$(".t1").height();
            $("#s_result").width(w);
            $("#s_result").height(h);
            $("#s_result div").width(w);
        });
	</script>
	<div id="s_result">
		<div style="position: absolute;">
			<h2>封面金额:<span id="s_fmResult" th:text="${baoJia.s_fmResult}"></span></h2>
			<h2>内芯金额:<span id="s_nxResult" th:text="${baoJia.s_nxResult}"></span></h2>
			<h2>插页金额:<span id="s_cyResult" th:text="${baoJia.s_cyResult}"></span></h2>
			<h2>后期金额:<span id="s_hjgResult" th:text="${baoJia.s_hjgResult}"></span></h2>
			<h2>配送金额:<span id="s_psResult" th:text="${baoJia.s_pResult}"></span></h2>
			<h1>总金额:<span id="s_resultMoney" th:text="${baoJia.s_ResultMoney}"></span></h1>
			<button hidden id="s_produce" class="btn-danger" style="width:100px;height: 50px;position: absolute;right: 0px;bottom: 0px; ">生产</button>
			<button hidden id="s_delete" class="btn-danger" style="width:100px;height: 50px;position: absolute;right: 101px;bottom: 0px; ">删除</button>
			<button id="s_modify" class="btn-danger" style="width:100px;height: 50px;position: absolute;right: 202px;bottom: 0px; ">修改</button>
			<div hidden class="flag1" th:attr="data-flag=${baoJia.s_flag}"></div>
			<div hidden class="id" th:attr="data-id=${baoJia.id}"></div>
			<div hidden class="hid" th:attr="data-hid=${baoJia.s_bjjl}"></div>
			<div hidden class="hpName" th:attr="data-hpName=${baoJia.s_pName}"></div>
			<div hidden class="baoJia" th:attr="data-baoJia=${jsonBaoJia}"></div>
			<div class="pflag" hidden th:attr="data-flag1=${flag}"></div>

		</div>
		<script>
            $(function () {
                var flag=$(".flag1").data("flag");
                $(document).ready(function () {
                    if (flag==1){
                        $("#s_produce").show();
                        $("#s_delete").show();
                    }
                });
                $("#s_produce").click(function () {
                    var pName=$(".hpName").data("hpname");
                    var flag1=$(".pflag").data("flag1");
                    var baoJia=$(".baoJia").data("baojia");
                   // 将对象转换成字符串
                   var baoJia1=JSON.stringify(baoJia);
					//将字符串转换成json对象
                    if (pName==""){
                        alert("印刷名为空，请修改后进行生产");
                    }else{
                        var url="/work/htmlPage?&baoJia="+baoJia1+"&flag="+flag1;
                        location.href=encodeURI(url);
                    }
                });
                $("#s_delete").click(function () {
                    /**
                     * id 是对应实体类的id
                     * hid 是对应的报价记录的id
                     * @type {string}
                     */
                    var id=$(".id").data("id");
                    var hid=$(".hid").data("hid");
                    var flagType=1;//1代表是画册
                    var flag=1; //1 代表是报价记录
                    $.ajax({
                        type:"post",
                        url:"/delete/sk",
                        dataType:"text",
                        data:{"id":id,"hid":hid},
                        success:function (msg) {
                            alert(msg);
                            location.href="baoJiaSel?type=1&flag=3";
                        }
                    });
                });
            });
		</script>

	</div>
</div>
</body>
</html>